src/main/mule/myfirstrepository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="151ac947-679a-4872-9ada-eeb003bd97d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstrepositoryFlow" doc:id="a1d64322-e487-486b-8c24-8311c7357497" >
		<http:listener doc:name="Listener" doc:id="ebd6ad3d-968c-430e-be8e-8ac80b28226f" config-ref="HTTP_Listener_config" path="/myfirstpayload"/>
		<set-payload value='#[This is my first workflow payload]' doc:name="Set Payload" doc:id="189b16db-5385-4220-8911-1261b8bed4ad" />
	</flow>
</mule>
